![](resources\sql.png)

# SQL Notebook

- Uses the SQL Kernel
- Can run code cells individually, or *All* code cells in Notebook
    - Highlighting a portion of a Code cell for execution is **not** supported
- Code cells cannot directly reference each other
    - Declared variables are scoped to individual cells
- Most recent results are stored in the notebook
    - Beware of very large result sets
    - Results can be cleared for a single cell, or entire Notebook

## Retrieve All Databases on Server

In [ ]:
with fs
as
(
    select database_id, type, size * 8.0 / 1024 size
    from sys.master_files
)
select
    name AS [Database Name],
    (select CAST(sum(size) AS INT) from fs where type = 0 and fs.database_id = db.database_id) [Data File Size (MB)]
from sys.databases db

## Retrieve Column Information

In [ ]:
SELECT * FROM INFORMATION_SCHEMA.COLUMNS

## Snippet Example

In [ ]:
-- cursor